/* #node1
{
	width: 1495px;
	height: 50px;
	top: 0px;
	left: 0px;
	position: absolute;
	background-color: #BAE568;
} */
.main
{
	float: left;
	width: 1085px;
	height: 577px;
	top: 67px;
	left: 409px;
	position: absolute;
	background-color: #BAE568;
}
.button1
{
	float: left;
	width: 381px;
	height: 63px;
	top: 68px;
	left: 6px;
	position: absolute;
	background-color: #BAE568;
}
.button2
{
	float: left;
	width: 382px;
	height: 65px;
	top: 145px;
	left: 6px;
	position: absolute;
	background-color: #BAE568;
}
.button3
{
	float: left;
	width: 383px;
	height: 67px;
	top: 224px;
	left: 5px;
	position: absolute;
	background-color: #BAE568;
}
.button4
{
	float: left;
	width: 383px;
	height: 70px;
	top: 306px;
	left: 6px;
	position: absolute;
	background-color: #BAE568;
}